/* General Styles*/
body{
    font-size: 14 px;
    line-height: 1.4285713;
    color : #333333;
    background-color: #f0f0f0;
    overflow-x: hidden;
    padding-bottom : 1000px;
}

/* Top Menu Style */
#top{
    background-color: #555555;
    padding: 10px 0;
}

#top .offer{
    color : #FFFFFF;
}

#top .offer .btn{
    text-transform: uppercase;

}

@media(max-width: 900px){
    #top .offer{
        margin-bottom: 10px;
    }
}
@media(max-width: 900px){
    #top{
        font-size: 12px;
        text-align: center;
    }
}
#top a{
    color: white;
}
#top ul.menu{
    padding: 0;
    padding-top: 5px;
    margin : 0;
    float : right;
    text-align: right;
    font-size : 12px;
    list-style: none;
}

  @media(max-width: 991px){
    #top ul.menu{
        text-align: center;
    }
}

#top ul.menu ,li{
    display: inline-block;
    margin-left : 10px;
}


#top ul.menu , li a{
    color: #ffffff;
}

/* Header Styles */
.navbar{
    background-color: #ffffff;
}
.navbar-collapse .right{
    float : right;
}
.navbar-brand{
    float : left;
    padding : 10px 15px;
    font-size: 17px;
    line-height : 20px;
    height : 70px;
}
.navbar-brand:hover,
.navbar-brand:focus{
    text-decoration: none;
}
.navbar ul.nav >li >a{
    text-transform: uppercase;
    font-weight: bold;
    font-size : 14px;
}
.navbar ul.nav >li >a:hover{
    background-color : #E7e7e7;
}

.padding-nav{
    padding-top : 10px;
}
.btn-primary{
    color: rgb(255,255,255);
    background-color: rgb(79,191,168);
    border-color : rgb(65,179,156);
}
#search .navbar-form{
    float : right;
}
#search{
    clear : both;
    border : 1px solid #9adacd;
    text-align : right;
}
#search .navbar-form .input-group{
    display:table;

}

#search .navbar-form .input-group .form-control{
    width : 100%;
}
#slider{
    margin-bottom: 40px;
}
/* Advantages Styling */
#advantages{
    text-align: center;
}
.box{
    background: #ffffff;
    margin : 0 0 30px;
    border : 1px solid #e6e6e6;
    box-sizing : border-box;
    padding : 20px;
    box-shadow: 0px 2px 5px rgb(0,0,0,.3);
}
#advantages .box .icon{
    position : absolute;
    font-size : 120px;
    width : 100%;
    text-align : center;
    top : -20px;
    left : 0;
    height : 100%;
    float : left;
    color : #dadada;
    box-sizing: border-box;
    z-index : 1;
}
#advantages .box h3{
    position : relative;
    margin : 0 0 20px;
    font-weight : 300;
    text-transform: uppercase;
    z-index : 2;
}
#advantages .box h3 a{
    color : #4fbfa4;
}
#advantages .box h3 a:hover{
    text-decoration: none;
}
#advantages .box p{
    position : relative;
    z-index : 2;
    color : #555555;
}
/* Latest Product Style */
 #hot h2{
     font-size : 34px;
     font-weight : 400;
     color :  #4fbfa4;
     text-align : center;
     text-transform : uppercase;
 }
 #content{
     padding-left: 25px;
 }
 .single{
     width: 290px;
 }
 @media(max-width : 761px){
    .single{
        width: 60%;
        margin : 0 auto;
    }
 }
 #content .product{
     background: #ffffff;
     border : 1px solid #e6e6e6;
     margin-bottom : 10px;
     box-sizing: border-box;
 }
 #content .product .text{
     padding : 10px 10px 0;
 }
 #content .product .text p.price{
    font-size: 18px;
    text-align: center;
    font-weight : 400;
 }
 #content .product .text .button{
     text-align: center;
     clear : both;
 }
 #content .product .text .button .btn{
     margin-bottom : 10px
 }
 #content .product .text h3{
     text-align: center;
     font-size : 24px;
 }
 #content .product .text h3 a{
     color : rgb(85,85,85);
 }